// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/aqua';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.page {
    color: #555;
    background: #FFF;
}

ActionBar {
    background-color: #FFF;
    border-bottom-width: 1;
    border-color: #DBDBDB;
    color: #000000;
    z-index: 0;
}

.btn {
    width: auto;
    height: 53;
    border-radius: 3;
    background-color: #E61773;
    color: #FFF;
    font-size: 15;
    font-weight: bold;
    z-index: 0;
}