// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/aqua';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.page {
    color: #555;
    background: #E5E5E5;
    padding: 10;
}